<% if(success && success.length){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<!-- This is a simple snippet that will display a success message if the variable success is passed to the view, and an error message if the variable error is passed. -->  
