/* body{
    background-color: palegoldenrod;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
} */
/*navbar*/
body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body, .container-fluid {
    background-color: #ffffff !important;
  }
.container{
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: white !important;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/*footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Edit Page*/
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}
/*show page*/
.show-img{
    height: 40vh; 
}
.btns {
    display: flex;
}
.show-card {
    padding-left: 0;
    padding-right: 0;
}
#map { 
    height: 35vh; 
    border-radius: 1rem;
}
.filters-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 10px;
    position: relative;
}

#filters {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    /* flex-grow: 1; Allows filters to take available space */
    padding: 0 1rem;
    
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

#filters::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.filter {
    text-align: center;
    flex: 0 0 auto;
    padding: 10px;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.scroll-btn {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
@media (max-width: 768px) {
    .tax-toggle {
        display: none;
    }
}

.tax-info {
    display: none;
}
.btn-search {
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}
.btn-search:hover{
    background-color: #fe424d !important;
    color: #fff !important;
}
.btn-search i {
    display: inline;
    margin-right: 0.5rem;
}
.search-input{
    border-radius: 25px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
}